.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center
}

.card-body {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-title {
  text-align: center
}

h6 {
  text-align: center
}


.card {
  padding: 20px 16px;
}